<h1>Maps Made with Angular, ESRI and Leaflet</h1>
<mat-grid-list cols="3" rowHeight="400" gutterSize="50">
  <mat-grid-tile>
    <mat-card class="landing-page-card" routerLink="/leafletmap">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Leaflet GeoJson Map</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="assets/img/Leaflet.png"
        alt="Photo of a Shiba Inu"
        height="250"
      />
      <mat-card-content>
        <p>
          A GeoJson leaflet map, with the ability to click a feature and a popup
          with more info will appear
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="landing-page-card" routerLink="/simpleesrimap">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Esri Basic</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="assets/img/EsriBasic.png"
        alt="Photo of a Shiba Inu"
        height="250"
      />
      <mat-card-content>
        <p>
          Super simple map with just a Base Map of London.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="landing-page-card" routerLink="/featurelayer">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Esri Feature Layer</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="assets/img/EsriFlayer.png"
        alt="Photo of a Shiba Inu"
        height="250"
      />
      <mat-card-content>
        <p>
          A Esri Feature Layer, with the ability to click a feature and a popup
          with more info will appear
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
