<div class="mat-app-background basic-container">
  <!-- Toolbar -->
  <mat-toolbar color="primary">
    <!-- <mat-icon>menu</mat-icon> -->
    <span>Mapular</span>
    <span class="example-spacer"></span>
    <a mat-button routerLink="/leafletmap">Leaflet Reservation Map</a>
    <a mat-button routerLink="/simpleesrimap">Basic Esri</a>
    <a mat-button routerLink="/featurelayer">FeatureLayer Esri</a>
    <a mat-button routerLink="/help">help</a>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
